@tailwind base;
@tailwind components;
@tailwind utilities;


.hover:hover{
    background-color: #202123;
    transition: all ease-in-out;
}

.main-chat{
    background-color: #343541;
}
.bg-left-auth{
    background-color: #00002E;
}
.btn-auth-clr{
    background-color: #3C46FF;
}
.btn-auth-clr:hover{
    background-color:#0000FF;
}
.border-p{
    border: 2px solid #494A54;
}
